.container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.input-container {
    display: grid;
}

.wrapper {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 600px;
    margin-left: 680px;
}

.container-code {
    margin-top: 20px;
    margin-left: 924px;
}