<div class="container-live">
    <p><strong>YOUR CODE NOW: </strong>{{code}}</p>
</div>
<div class="container">
    <div class="input-container">
        <label for="characterInput">PAYMENT</label>
        <input type="text" id="paymentInput" placeholder="Payment">
    </div>
    <div class="input-container">
        <label for="characterInput">AMMOUNT</label>
        <input type="text" id="ammountInput" placeholder="Ammount">
    </div>
    <button id="addButton" type="button" class="btn btn-secondary">+ ADD</button>
</div>